<mat-toolbar class="menu-bar">
    <!-- <span class="title"> ABC Tech</span>  -->
    <ul>
        <li><a routerLink="/food">Food Products</a></li>
        <li><a routerLink="/diet">Dietary plans</a></li>
        <li><a routerLink="/help">Help</a></li>
        <!--{{"menubar.Food products"}} -->
      <!-- <li><a routerLink="/about">{{"menubar.Dietary plans"}}</a></li>
      <li><a routerLink="/reachus">{{"menubar.Help"}}</a></li> -->
    </ul>
    <!-- <span [style.marginLeft]="'100px'" [style.color]="'white'">
       <select [(ngModel)]="lang" (change)="changeLang()">
          <option *ngFor="let x of languages" value={{x.value}}>
            {{x.name}}</option>
       </select>
    </span> -->
</mat-toolbar>